extends ../src/index.pug

prepend head
  -
    var title = "Data Editor";
    var version = "v0.0.0";

append scripts
  script(type="module" src="./main.ts")

block new-object-list
  li: button.dropdown-item Class A
  li: button.dropdown-item Class B
  li: button.dropdown-item Class C