extends ../src/index.pug

prepend head
  -
    var title = "Catalogue";
    var version = "Demo";

block styles
  link(rel="stylesheet" href="./styles.scss")

append scripts
  script(type="module" src="./scripts.ts")

block new-object-list
  li: button.dropdown-item Book
  li: button.dropdown-item DVD
  li: button.dropdown-item Magazine