@import "./variables";

*
{
  user-select: none;
}

html,
body
{
  height: 100%;
}

#sidebar
{
  min-width: 320px;
  max-width: 320px;
}

#searchBox
{
  border-radius: 0;
  padding: $custom-padding-y $custom-padding-x;
}

#createItemMenu>li>button
{
  text-transform: capitalize;
}