#sidebar.col.h-100.border-end.d-flex.flex-column.overflow-visible.overflow-y-scroll
  .p-1.sticky-top.bg-dark
    block project-status
      include project-status
  #divItemList.px-1.flex-grow-1
  .p-1.sticky-bottom.bg-dark.d-flex
    block new-item-dropdown
      include new-item-dropdown
    block version-label
      include version-label