#sidebar.col.h-100.border-end.d-flex.flex-column.overflow-visible.overflow-y-scroll
  #notesSubtle
  .p-1.sticky-top.bg-dark
    #notes
    block project-status
      include project-status
    block filter
      include filter
  block object-list
    #objectList.px-1.flex-grow-1
  .p-1.sticky-bottom.bg-dark.d-flex
    block new-object-menu
      include new-object-menu
    block version-label
      include version-label